<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>CRUD de Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
            <td>{{ produto[3] }}</td>
            <td>{{ produto[4] }}</td>
            <td>
                <a href="{{ url_for('editar', id=produto[0]) }}">Editar</a>
                <a href="{{ url_for('deletar', id=produto[0]) }}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('criar') }}">Adicionar Produto</a>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
